<mat-drawer-container fullscreen>

    <mat-drawer #sidenav mode="push">
        
        <mat-toolbar color="primary">
            <span>Menú</span>
            <span class="spacer"></span>
            <button mat-icon-button
                    (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
        </mat-toolbar>

        <mat-nav-list role="list">
            <a routerLink="./listado"
                mat-list-item
                (click)="sidenav.toggle()">
                    <mat-icon matListItemIcon>label</mat-icon>
                    <span>Listado de Héroes</span>
                
            </a>
            
            <a routerLink="./agregar"
                mat-list-item
                (click)="sidenav.toggle()">

                    <mat-icon matListItemIcon>add</mat-icon>
                    <span>Agregar Héroe</span>
                
            </a>

            <a routerLink="./buscar"
                mat-list-item
                (click)="sidenav.toggle()">

                    <mat-icon matListItemIcon>search</mat-icon>
                    <span>Búscar Héroe</span>
                
            </a>
        </mat-nav-list>

    </mat-drawer>

    <mat-toolbar>
        <button mat-icon-button
                (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>

        <span class="spacer"></span>

        <button mat-button>Logout</button>
    </mat-toolbar>

    <div class="container">
        <router-outlet></router-outlet>
    </div>

</mat-drawer-container>